@use "/src/sass/base/variables.scss" as *;

@mixin circle {
    &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
}

@mixin circle-min {
    &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}

@mixin line {
    &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background: $main-color;
    }
}
