@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.about {
    padding-top: 120px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }

    &__img {
        flex: 1 1 0;
        width: 400px;
        height: 600px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        flex: 1 1 0;
        margin-top: 6px;
        color: $black;
    }

    &__title {
        position: relative;
        padding-left: 12px;
        @include circle;
        &::before {
            left: 0;
            top: -6px;
        }
    }

    &__title-big {
        position: relative;
        margin-top: 6px;
        @include line;
        &::after {
            left: 2px;
            bottom: -2.5px;
        }
    }

    &__text {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    &__skills {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 20px 50px;
    }

    &__skill {
        position: relative;
        padding-left: 60px;
        &-icon {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 25px;
            height: 24px;
        }

        @include circle;
        &::before {
            left: 0;
            top: 0;
        }

        &-text {
            margin-top: 6px;
        }
    }
}

@media (max-width: 1000px) {
    .about {
        padding-top: 60px;
        &__container {
            gap: 20px;
        }
        &__skills {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(15px, auto);
            column-gap: 20px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding-top: 40px;
        &__container {
            align-items: center;
            flex-direction: column;
        }
        &__img {
            width: 100%;
            max-height: 340px;
        }

        &__title-big {
            margin-top: 25px;
            &::after {
                bottom: -14px;
            }
        }

        &__text {
            margin-top: 35px;
        }

        &__skills {
            margin-top: 20px;
        }
    }
}
