@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.contacts {
    &__wrapper {
        padding: 120px 35px 90px 52px;
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 400px;
        height: 600px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        position: relative;
        padding-left: 12px;
        @include circle;
        &::before {
            left: 0;
            top: -6px;
        }
    }

    &__title-big {
        position: relative;
        margin-top: 6px;
        @include line;
        &::after {
            left: 2px;
            bottom: -2.5px;
        }
    }

    &__subtitle {
        margin-top: 24px;
    }

    &__social {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    &__subtitle2 {
        margin-top: 20px;
    }

    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        gap: 30px 25px;
    }

    &__input {
        position: relative;
        input {
            padding: 0 20px;
            width: 100%;
            height: 100%;
        }
        label {
            position: absolute;
            padding: 0 7px;
            left: 12px;
            top: -9px;
            background-color: white;
        }
    }

    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            padding: 20px;
            width: 100%;
            height: 100%;
            resize: none;
        }
        label {
            position: absolute;
            padding: 0 7px;
            left: 12px;
            top: -9px;
            background-color: white;
        }
    }

    &__triggers {
        grid-column: 1 / 3;
        display: flex;
        gap: 20px;
        align-items: center;
        &-btn {
            border: none;
        }
        &-policy {
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            .error-checkbox-message {
                position: absolute;
                left: 0;
                bottom: -40px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .contacts {
        &__wrapper {
            gap: 40px;
            padding: 120px 0 90px;
        }

        &__img {
            flex: 1 1 0;
        }

        &__form {
            grid-template: 45px 190px 45px / repeat(2, minmax(250px, auto));
        }
        &__description {
            flex: 1 1 0;
        }
    }
}

@media (max-width: 1000px) {
    .contacts {
        &__form {
            grid-template: 45px 190px 45px / repeat(2, minmax(100px, auto));
        }

        &__triggers {
            &-policy {
                .error-checkbox-message {
                    bottom: -60px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        &__wrapper {
            gap: 20px;
            padding: 40px 0 50px;
        }

        &__title-big {
            &::after {
                bottom: -12px;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
        }

        &__input {
            width: 100%;
            height: 45px;
        }

        &__textarea {
            width: 100%;
            height: 145px;
        }
    }
}

@media (max-width: 576px) {
    .contacts {
        &__img {
            display: none;
        }

        &__triggers {
            &-policy {
                .error-checkbox-message {
                    bottom: -50px;
                }
            }
        }
    }
}
