@use "/src/sass/base/variables.scss" as *;

.menu {
    position: fixed;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 25;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
    &--active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    &__block {
        position: relative;
        padding: 25px 25px 50px 40px;
        width: 345px;
        height: 100%;
        background: $main-color;
        z-index: 30;
    }

    &__close {
        width: 29px;
        height: 29px;
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        span {
            width: 29px;
            height: 3px;
            background: $black;
            border-radius: 25px;
        }
        span:nth-child(1) {
            transform: rotate(45deg);
        }
        span:nth-child(2) {
            transform: rotate(-45deg) translate(2px, -2px);
        }
    }

    &__list {
        padding: 0;
        margin-top: 140px;
        &-link {
            margin-bottom: 15px;
            position: relative;
            list-style-type: none;
            padding-left: 35px;
            &::before {
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                top: 10px;
                left: 0;
                border: 1px solid $black;
                border-radius: 100%;
            }
            &:hover {
                &::before {
                    background: $black;
                }
            }
        }
        a {
            color: $white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
        }
    }

    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 15px;
        &-link {
            width: 20px;
            height: 20px;
        }
        &-link:nth-child(2),
        &-link:nth-child(3) {
            transform: rotate(90deg);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 25;
        background: $white;
        opacity: 0.5;
    }
}

@media (max-width: 576px) {
    .menu {
        &__list {
            margin-top: 120px;
        }
        &__block {
            padding: 25px 20px;
        }
    }
}

@media (max-width: 400px) {
    .menu {
        &__block {
            width: 90%;
        }
    }
}
