@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.portfolio {
    padding-top: 120px;

    &__works {
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 280px;
        gap: 5px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.6s;
            &:hover {
                transform: scale(1.03);
                filter: grayscale(50%);
            }
        }
        &-item:nth-child(4) {
            grid-row: 2;
            grid-column: 1 / 4;
        }
    }
}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 40px;
        &__works {
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            &-item:nth-child(4) {
                grid-row: auto;
                grid-column: auto;
            }
        }
    }
}

@media (max-width: 576px) {
    .portfolio {
        &__works {
            grid-template-columns: 1fr;
        }
    }
}
