@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.promo {
    min-height: 100vh;
    position: relative;
    background: url("/src/img/main_bg.jpg") center / cover no-repeat;
    padding-top: 205px;
    &__hamburger {
        position: absolute;
        top: 20px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 36px;
        height: 21px;
        cursor: pointer;
        span {
            display: block;
            background: $black;
            width: 30px;
            height: 3px;
        }
    }

    .hamburger__line-long {
        width: 36px;
    }

    &__title-min {
        padding-left: 10px;
        position: relative;
        z-index: 1;
        color: $white;
        @include circle;
        &::before {
            top: -6px;
            left: 0;
        }
    }

    &__title {
        margin-top: 10px;
        max-width: 500px;
        color: $white;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__link {
        color: $white;
        text-decoration: none;
    }

    .btn-2 {
        padding: 12px 25px 12px;
        &:hover {
            background: rgb(0, 204, 255);
        }
    }
}

@media (max-width: 1440px) {
    .promo {
        &__wrapper {
            padding-left: 5%;
        }
    }
}

@media (max-width: 1000px) {
    .promo {
        &__wrapper {
            padding-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        background-position: 40%;

        &__btns {
            gap: 10px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__hamburger {
            top: 30px;
        }

        &__title {
            max-width: 300px;
        }
        &__btns {
            margin-top: 40px;
        }
    }
}
