@use "/src/sass/base/variables.scss" as *;

.btn {
    color: $black;
    padding: 12px 25px 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: $main-color;
    cursor: pointer;
    &:hover {
        background: rgb(0, 204, 255);
    }
}
